@import "tailwindcss";

@theme {
  --color-senac-blue: #004a8d;
  --color-senac-orange: #ff8200;
  --color-senac-light: #f8f9fa;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
