@import "tailwindcss";

@theme {
  --color-senac-blue: #004a8d;
  --color-senac-orange: #ff8200;
  --color-senac-light: #f8f9fa;
  
  --font-sans: "Anek Latin", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled),
  label[for],
  select,
  a[href] {
    cursor: pointer;
  }
}
